@import "tailwindcss";
/* fcfaf8  332F30*/
@theme {
  --color-primary: #ec7f13;
  --color-background-light: #221910;
  --color-background-dark: #34302F;
  --color-text-light: #1b140d;
  --color-text-dark: #f3ede7;
  --color-text-muted-light: #9a734c;
  --color-text-muted-dark: #a89988;
  --color-border-light: #e7dbcf;
  --color-border-dark: #4a3c2c;
  
  --font-family-display: "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .font-display {
    font-family: var(--font-family-display);
  }
}

body {
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 24px;
}
